{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="col-md-12 text-end">
    <a class="btn btn-secondary" href="{% url 'allowances_list' %}">Back</a>
  </div>
  <h3>Add Master Allowance</h3>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label>Name</label>
      <input name="name" class="form-control" required />
    </div>
    <div class="mb-3">
      <label>Amount</label>
      <input name="amount" class="form-control" type="number" step="0.01" required />
    </div>
    <button class="btn btn-success">Create</button>
  </form>
</div>
{% endblock %}