{% extends 'base.html' %}

{% block content %}
  <div class="card mb-3">
    <div class="card-header">
      <h5>Benefits List</h5>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Benefit</button>
      </form>
      <ul class="list-group list-group-flush">
        <br/>
        {% for benefit in benefits %}
          <li class="list-group-item">
            {{ benefit.type }} - ${{ benefit.amount }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}