{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Payroll Dashboard</h1>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <h5 class="card-header">Days to Payday</h5>
                <div class="card-body">
                    <h1>{{ days_to_payday }}</h1>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <h5 class="card-header">Number of Employees</h5>
                <div class="card-body">
                    <h1>{{ employee_count }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <h5 class="card-header">Total Payroll Amount</h5>
                <div class="card-body">
                    <h1>${{ total_payroll_amount }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <a href="{% url "payroll_app:employees_list" %}" class="btn btn-primary me-2"><i class="fas fa-users"></i> Employees</a>
            <a href="{% url "payroll_app:benefits_list" %}" class="btn btn-primary me-2"><i class="fas fa-briefcase-medical"></i> Benefits</a>
            <a href="{% url "payroll_app:deductions_list" %}" class="btn btn-primary me-2"><i class="fas fa-minus-circle"></i> Deductions</a>
            <a href="{% url "payroll_app:print_payslip" %}" class="btn btn-primary"><i class="fas fa-print"></i> Print Payslips</a>
        </div>
    </div>
</div>
<ul>
    {% for payroll in payrolls %}
        <li>
            {{ payroll.employee.name }} ({{ payroll.pay_period }})
            <a href="{% url 'payroll_details' %}">View Details</a>
        </li>
    {% endfor %}
</ul>

{% endblock content %}
