
{% extends 'base.html' %}

{% block content %}
  <h1>Employees List</h1>
  <div class="card mb-3">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Department</th>
          <th scope="col">Salary</th>
          <th scope="col">Employed Since</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
          <tr>
            <td>{{ employee.employee_id }}</td>
            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
            <td>{{ employee.phone_number }}</td>
            <td>{{ employee.department }}</td>
            <td>${{ employee.salary }}</td>
            <td>{{ employee.employment_date|date:"F j, Y" }}</td>
            <td>
              <a href="{% url 'payroll_app:edit_employee' employee.employee_id %}" class="text-primary"><i class="bi bi-pencil-square"></i> Edit</a>
              <a href="{% url 'payroll_app:delete_employee' employee.employee_id %}" class="text-danger"><i class="bi bi-trash-fill"></i> Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}