{% extends 'base.html' %}

{% block content %}
  <div class= "p-2 bg-light border">
    <form method="post">
        {% csrf_token %}
        <label for="employee_id">Employee ID:</label>
        <input type="number" id="employee_id" name="employee_id">
        <button type="submit">Search</button>
    </form>
  </div>
  <br/>
  <div class="card mb-3">
    <div class="card-header">
      <h5>Payslip for {{ employee.name }}</h5>
    </div>
    <div class="card-body">
      <h5>Payroll Information</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Pay Date: {{ payroll.pay_date }}</li>
        <li class="list-group-item">Salary: ${{ payroll.salary }}</li>
      </ul>
      <h5>Benefits</h5>
      <ul class="list-group list-group-flush">
        {% for benefit in benefits %}
          <li class="list-group-item">{{ benefit.type }}: ${{ benefit.amount }}</li>
        {% endfor %}
      </ul>
      <h5>Deductions</h5>
      <ul class="list-group list-group-flush">
        {% for deduction in deductions %}
          <li class="list-group-item">{{ deduction.type }}: ${{ deduction.amount }}</li>
        {% endfor %}
      </ul>
      <h5>Gross Pay: ${{ gross_pay }}</h5>
      <h5>Net Pay: ${{ net_pay }}</h5>
    </div>
  </div>
{% endblock %}